@mixin ooInit($custom:null) {
  $map: ooParse($ooLoop);
  $map: if(hasRef($map), ooParse($map), $map);

  @if isMap($custom) and isNotEmpty($custom) {
    $map: mapMergeDeep($map, $custom);
    $map: if(hasRef($map), ooParse($map), $map);
  }
  $ooLoop: $map !global;

  @if oo('use.template') {
    @include initTemplate;
  }
  @if oo('use.utilities.color') {
    @include initColor;
  }
  @if oo('use.container') {
    @include initContainer;
  }
  @if oo('use.utilities.float') {
    @include initFloat;
  }
  @if oo('use.utilities.list') {
    @include initList;
  }
  @if oo('use.utilities.spacing.h') {
    @include initSpacingHorizontal;
  }
  @if oo('use.utilities.spacing.v') {
    @include initSpacingVertical;
  }
  @if (oo('use.utilities.text')) {
    @include initText;
  }
  @if (oo('use.utilities.visibility')) {
    @include initVisibility;
  }
  @if (oo('use.utilities.wrapper')) {
    @include initWrapper;
  }
}

@include ooInit();

// @debug $ooLoop;