@mixin ooInit($custom:null) {
  $map: if(hasRef($ooLoop), ooParse($ooLoop), $ooLoop);
  @if isMap($custom) and isNotEmpty($custom) {
    $map: mapMergeDeep($map, $custom);
    $map: if(hasRef($map), ooParse($map), $map);
  }
  $map: setMapValue($map, 'init', true);
  $ooLoop: $map !global;
}

@mixin ooCreate($custom:null) {
  @if not oo('init') {
    @include ooInit($custom);
  }

  @if oo('use.base') {
    @include initBase;
  }
  @if oo('use.headings') {
    @include Headings;
  }
  @if oo('use.type') {
    @include Type;
  }
  @if oo('use.column.system') {
    @include initColumn;
  }
  @if oo('use.template') {
    @include initTemplate;
  }
  @if oo('use.button') {
    @include initButton;
  }
  @if oo('use.input.textfield') {
    @include initTextField;
  }
  @if oo('use.input.select') {
    @include initSelectField;
  }
  @if oo('use.input.checkbox') {
    @include initCheckbox;
  }
  @if oo('use.input.radio') {
    @include initRadio;
  }
  @if oo('use.input.toggle') {
    @include initToggle;
  }
  @if oo('use.container') {
    @include initContainer;
  }
  @if (oo('use.visibility')) {
    @include initVisibility;
  }
  @if (oo('use.misc')) {
    @include initMisc;
  }
  @if (oo('utilities')) {
    @include generateUtilities(oo('utilities'));
  }
  @if (oo('components')) {
    @include generateComponents(oo('components'));
  }
  @if oo('use.utilities.paint') {
    @include initPaint;
  }
  @if oo('use.utilities.float') {
    @include initFloat;
  }
  @if oo('use.utilities.list') {
    @include initList;
  }
  @if oo('use.utilities.spacing') {
    @include initSpacing;
  }
  @if (oo('use.utilities.text')) {
    @include initText;
  }
  @if (oo('use.utilities.wrapper')) {
    @include initWrapper;
  }
}