$ooLoop: (
  html5: true,
  
  breakpoints: (
    xs: 30em, // 480px
    sm: 37.500em, // 600px
    md: 60em, // 960px
    lg: 80em, // 1280px
    xl: 120em, // 1980px
  ),
  
  screens: (sm, md, lg),

  root: (
    fontSize: 62.5%,
    smoothing: true,
  ),

  body: (
    fontFamily: ('Helvetica Neue', 'Helvetica', 'Arial', sans-serif),
    fontSize: 1.6em, //16px
    lineHeight: 1.375,
    color: #20373e,
  ),

  colors: (
    main: (
      'primary': #6cd7f7,
      'secondary': #959595,
    ),
    backgrounds: oo('colors.main'),
    borders: oo('colors.main'),
    fonts: oo('colors.main'),
  ),

  headings: (
    props: (
      marginTop: .67em,
      marginBottom: .45em,
      lineHeight: 1.125,
    ),
    sizes: (
      h1: (
        rt: 3.2rem,
        sm: 3.6rem,
      ),
      h2: (
        rt: 2.8rem,
        sm: 3rem,
      ),
      h3: (
        rt: 2.2rem,
        sm: 2.4rem,
      ),
      h4: 1.8rem,
      h5: 1.6rem,
      h6: 1.4rem,
    ),
    classes: ('h2', 'h3'),
  ),

  paragraph: (
    props: (
      marginTop: 0,
      marginBottom: 1.125em,
    )
  ),

  anchor: (
    props: (
      color: oo('colors.main.primary'),
      textDecoration: none,
    ),
    hover: (
      color: ooDarken(oo('anchor.props.color'), 12%),
    )
  ),

  list: (
    props: (
      marginTop: 0,
      marginBottom: 1.125em,
      paddingLeft: 1.1em,
    ),
    inlineSpacing: 1em,
  ),

  defList: (
    props: (
      marginTop: 0,
      marginBottom: 1.125em,
    ),
    dt: (
      fontWeight: 700,
      marginTop: .5em,
    ),
    dd: (
      marginLeft: auto,
    ),
  ),
  
  hr: (
    color: #cdcdcd,
    margin: 1rem,
  ),

  utilities: (
    fontFamily: (
      values: (
        'primary': oo('body.fontFamily'),
        'secondary': ('Georgia', times, serif),
      ),
    ),
    fontSize: (
      values: (
        'large': 2rem,
        'small': 1.4rem,
      ),
      prefix: 'text',
    ),
    fontStyle: (
      values: ('italic'),
    ),
    fontWeight: (
      values: (
        'bold': 700,
      ),
    ),
    textAlign: (
      values: (
        'left',
        'right',
        'center',
      )
    ),
    textTransform: (
      values: (
        'uppercase',
      ),
    ),
  ),

  float: (
    values: (
      'left',
      'right',
    ),
    screens: (),
  ),

  visibility: (
    breakpoints: oo('screens'),
    pointbreaks: oo('screens'),
  ),

  container: (
    gutter: (
      rt: 1.6rem,
      sm: 2.4rem,
    ),
    maxWidth: 1080px,
  ),

  column: (
    system: 12,
    gutter: (
      base: oo('container.gutter'),
      sizes: (
        'less': 0,
      ),
      vsizes: oo('column.gutter.sizes')
    ),
    screens: oo('screens'),
    use: (
      order: false,
      offset: false,
      alignment: true,
      alignmentBreakpoints: true,
      fitBreakpoints: false,
      selfAlignment: true,
      selfAlignmentBreakpoints: false,
      childAlignment: false,
    )
  ),

  template: (
    areas: (),
    gap: (
      use: true,
      sizes: (),
      vsizes: oo('template.gap.sizes')
    ),
  ),

  /// @todo Grid componenent
  // grid: (
  //   system: oo('column.system'),
  //   gap: oo('column.gutter'),
  //   use: (
  //     order: true,
  //   )
  // ),

  spacing: (
    h: (
      sizes: (
        '0': 0,
        '5': .5rem,
        '10': 1rem,
        '15': 1.5rem,
      ),  
      screens: (),
    ),
    v: (
      sizes: (
        '0': 0,
        '5': .5rem,
        '10': 1rem,
        '15': 1.5rem,
        '30': 3rem,
      ),
      screens: (),
    ),
  ),

  wrapper: (
    sizes: (
      'tiny': .8rem,
      'small': 1.6rem,
      'medium': 2.4rem,
    ),
    screens: (),
  ),

  button: (
    props: (
      padding: .438em 1.2em,
      fontSize: 1.6rem,
      fontWeight: bold,
      lineHeight: 1.5,
      color: #333,
      backgroundColor: #fff,
      border: 1px solid #cecece,
      borderRadius: .2em,
    ),
    states: (
      hover: (
        backgroundColor: ooDarken(oo('button.props.backgroundColor'), 10%),
      ),
      focus: (
        +oo('button.states.hover'),
        (
          outline: none,
        )
      ),
      active: (
        backgroundColor: ooDarken(oo('button.props.backgroundColor'), 12%),
        boxShadow: inset 1px 1px 1px 0 ooDarken(oo('button.props.backgroundColor'), 25%),
      ),
    ),
    paints: oo('colors.main'),
    outline: true,
    variants: (
      'full': (
        width: 100%,
      ),
    )
  ),

  label: (
    fontWeight: 500,
    margin: .3rem,
  ),
  input: (
    props: (
      padding: .5em .625em,
      display: block,
      width: 100%,
      minHeight: 2.5em,
      color: #4d4d4d,
      fontSize: 1.6rem,
      lineHeight: 1.15,
      backgroundColor: #fff,
      border: 1px solid #d6d6d6,
      borderRadius: .2em,
    ),
    states: (
      focus: (
        outline: none,
        boxShadow: 0 0 8px 0 rgba(#aaa, .25),
      ),
    ),
    variants: (),
  ),
  select: (
    props: oo('input.props'),
    states: oo('input.states'),
    selector: (
      default: (
        size: 10px,
        weight: 2px,
        color: #4d4d4d,
        bgcolor: #fff, 
      ),
      variants: (),
    ),
    variants: (),
  ),
  checkbox: (
    props: (
      backgroundColor: #fff,
      border: 1px solid #d6d6d6,
      borderRadius: .2em,
    ),
    checked: (
      markColor: #fff,
      props: (
        backgroundColor: #4d4d4d,
        border: 1px solid #4d4d4d,
      )
    ),
    sizes: (
      default: 18px,
      variants: ()
    ),
    screens: (),
  ),
  radio: (
    props: (
      backgroundColor: #fff,
      border: 1px solid #d6d6d6,
    ),
    checked: (
      markColor: #fff,
      props: (
        backgroundColor: #4d4d4d,
        border: 1px solid #4d4d4d,
      )
    ),
    sizes: (
      default: 18px,
      variants: ()
    ),
    screens: (),
  ),
  toggle: (
    props: (
      border: 1px solid #d6d6d6,
      borderRadius: 50em,
      backgroundColor: #d6d6d6,
      transition: (background-color 300ms ease-in-out, border-color 300ms ease-in-out),
    ),
    toggler: (
      borderRadius: 50%,
      backgroundColor: #fff,
      boxShadow: 1px 1px 2px 0 rgba(#4d4d4d, 0.3),
      transition: transform 300ms ease-out,
    ),
    checked: (
      props: (
        borderColor: #4d4d4d,
        backgroundColor: oo('toggle.checked.props.borderColor'),
      )
    ),
    sizes: (
      default: 2.4rem,
      variants: (),
    )
  ),

  use: (
    base: true,
    headings: true,
    type: true,
    button: true,
    input: (
      textfield: true,
      textarea: true,
      select: true,
      checkbox: true,
      radio: true,
      toggle: true,
    ),
    column: true,
    grid: false,
    template: true,
    container: true,
    utilities: (
      color: true,
      float: true,
      list: true,
      spacing: (
        h: true,
        v: true,
      ),
      text: true,
      visibility: true,
      wrapper: true,
    )
  )
) !default;