$ooLoop: (
  html5: true,
  
  breakpoints: (
    xs: 30em, // 480px
    sm: 37.500em, // 600px
    md: 60em, // 960px
    lg: 80em, // 1280px
    xl: 120em, // 1980px
  ),
  
  screens: (sm, md, lg),

  root: (
    fontSize: 62.5%,
    smoothing: true,
  ),

  body: (
    fontFamily: ('Helvetica Neue', 'Helvetica', 'Arial', sans-serif),
    fontSize: 1.6em, //16px
    lineHeight: 1.375,
    color: #20373e,
  ),

  colors: (
    main: (
      'primary': #6cd7f7,
      'secondary': #959595,
    ),
    backgrounds: oo('colors.main'),
    borders: oo('colors.main'),
    fonts: oo('colors.main'),
  ),

  headings: (
    props: (
      marginTop: .67em,
      marginBottom: .45em,
      lineHeight: 1.125,
    ),
    sizes: (
      h1: (
        rt: 3.2rem,
        sm: 3.6rem,
      ),
      h2: (
        rt: 2.8rem,
        sm: 3rem,
      ),
      h3: (
        rt: 2.2rem,
        sm: 2.4rem,
      ),
      h4: 1.8rem,
      h5: 1.6rem,
      h6: 1.4rem,
    ),
    classes: ('h2', 'h3'),
  ),

  paragraph: (
    props: (
      marginTop: 0,
      marginBottom: 1.125em,
    )
  ),

  anchor: (
    props: (
      color: oo('colors.main.primary'),
      textDecoration: none,
    ),
    hover: (
      color: ooDarken(oo('anchor.props.color'), 12%),
    )
  ),

  list: (
    props: (
      marginTop: 0,
      marginBottom: 1.125em,
      paddingLeft: 1.1em,
    ),
    inlineSpacing: 1em,
  ),

  defList: (
    props: (
      marginTop: 0,
      marginBottom: 1.125em,
    ),
    dt: (
      fontWeight: 700,
      marginTop: .5em,
    ),
    dd: (
      marginLeft: auto,
    ),
  ),
  
  hr: (
    color: #cdcdcd,
    margin: 1rem,
  ),

  /**
   * Utilities
   */
  utilities: (
    fontFamily: (
      vals: (
        'primary': oo('body.fontFamily'),
        'secondary': ('Georgia', times, serif),
      ),
    ),
    fontSize: (
      vals: (
        'large': 2rem,
        'small': 1.4rem,
      ),
      prefix: 'text',
    ),
    fontStyle: (
      vals: ('italic'),
    ),
    fontWeight: (
      vals: (
        'bold': 700,
      ),
    ),
    textAlign: (
      vals: (
        'left',
        'right',
        'center',
      )
    ),
    textTransform: (
      vals: (
        'uppercase',
      ),
    ),
  ),

  float: (
    vals: (
      'left',
      'right',
    ),
    screens: (),
  ),

  visibility: (
    breakpoints: oo('screens'),
    pointbreaks: oo('screens'),
  ),

  container: (
    gutter: (
      rt: 1.6rem,
      sm: 2.4rem,
    ),
    maxWidth: 1080px,
  ),

  column: (
    system: 12,
    gutter: (
      base: oo('container.gutter'),
      sizes: (
        h: (
          'less': 0,
          'small': 1.6rem,
        ),
        v: oo('column.gutter.sizes.h')
      )
    ),
    screens: oo('screens'),
    use: (
      order: true,
      offset: false,
      alignment: true,
      alignmentBreakpoints: true,
      fitBreakpoints: false,
      selfAlignment: true,
      selfAlignmentBreakpoints: false,
      childAlignment: true,
    )
  ),

  template: (
    areas: (),
    gap: (
      use: true,
      sizes: (),
      vsizes: oo('template.gap.sizes')
    ),
  ),

  grid: (
    system: oo('column.system'),
    gap: oo('column.gutter'),
    use: (
      order: true,
    )
  ),

  spacing: (
    h: (
      sizes: (
        '0': 0,
        '1': .25rem,
        '2': .75rem,
        '3': 1.25rem,
        '4': 1.75rem,
      ),
      screens: (),
    ),
    v: (
      sizes: (
        '0': 0,
        '1': .5rem,
        '2': 1rem,
        '3': 1.5rem,
        '4': 2rem,
        '5': 2.5rem,
      ),
      screens: (),
    ),
  ),

  wrapper: (
    sizes: (
      'tiny': .5rem,
      'small': 1rem,
      'medium': 1.5rem,
    ),
    screens: (),
  ),

  button: (
    color: oo('body.color'),
    colorHover: oo('button.color'),
    variants: oo('colors.main'),
  ),


  label: (
    fontWeight: 500,
    margin: .3rem,
  ),
  input: (
    color: #4d4d4d,
    bgcolor: #fff,
    fontFamily: oo('body.fontFamily'),
    fontSize: oo('body.fontSize'),
    fontWeight: oo('body.fontWeight'),
    lineHeight: 1.15,
    height: 2.5em,
    focus: '',

    padding: .5em .625em,
    sizes: (),
    borderColor: #d6d6d6,
    border: 1px solid,
    radius: .2em,
    boxShadow:  1px 1px 1px 0 rgba(#aaa, .50),
  ),
  // checkbox: (
  //   animation: true,
  //   breakpoints: (),

  //   sizes: (
  //     'key' : '1.8rem',
  //   ),
  //   radius: .2em,
  //   bgcolor: oo('input.bgcolor'),
  //   border-color: oo('input.border-color'),
  //   box-shadow: 1px 1px 2px 0 rgba(#aaa, .3),
  //   checked: (
  //     color: oo('input.color'),
  //     bgcolor: oo('input.bgcolor'),
  //     border-color: oo('checkbox.border-color'),
  //   )
  // ),
  // radio: oo('checkbox'),
  // select: (
  //   size: 10px,
  //   weight: 2px,
  //   color: oo('input.color'),
  //   bgcolor: oo('input.bgcolor'),
  // ),

  

  use: (
    base: true,
    headings: true,
    type: true,
    button: true,
    column: true,
    grid: false, 
    template: true,
    container: true,
    utilities: (
      color: true,
      float: true,
      list: true,
      spacing: (
        h: true,
        v: true,
      ),
      text: true,
      visibility: true,
      wrapper: true,
    )
  )
) !default;