/**
 * Variables
 * Change at your own will
 */

 $loop-prefix: 'oo' !default;
 $loop-component-html5-validity: false !default;
 $loop-component-prefix: if($loop-component-html5-validity, #{'data-'}#{$loop-prefix}, $loop-prefix) !default;

/**
 * Breakpoints
 */
 $breakpoints: (
 	xs: 480px,  // min width
    sm: 600px,  // min width
    md: 960px,  // min width
    lg: 1280px, // min width
 ) !default;

 $breakpoints-classes: (sm, md, lg) !default; // used in the project


/**
 * Body Base
 */
 $font-family-base: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
 $font-size-base:   1.6rem !default; // == 16px ( relative to 62.5% font-size )
 $font-weight-base: 400 !default;
 $line-height-base: 1.5 !default;
 $color-base:       #333 !default;
 $bgcolor-base:     #fff !default;
 $font-smoothing:   true !default;


/**
 * Colors
 */

 $color-primary:   #6cd7f7 !default;
 $color-secondary: #254F67 !default;

 $colors: (
    'primary':    $color-primary,
    'secondary':  $color-secondary,
 ) !default;

 $colors-classes: (
    'primary',
    'secondary',
 ) !default;


 /**
 * Text Color
 */
 $text-colors: () !default;
 $text-colors-classes: $colors-classes !default;
 $text-colors-is-important: true !default;


/**
 * Background Color
 */
 $bg-colors: () !default;
 $bg-colors-classes: $colors-classes !default;
 $bg-colors-is-important: false !default;


/**
 * Border Color
 */
 $border-colors: () !default;
 $border-colors-classes: $colors-classes !default;
 $border-colors-is-important: true !default;


/**
 * Typography
 */
 $heading-font-sizes: (
    'h1': (
        :   3.6rem,
        sm: 4.6rem,
    ),
    'h2': (
        :   3.2rem,
        sm: 3.8rem,
    ),
    'h3': 2.8rem,
    'h4': 2.2rem,
    'h5': 1.8rem,
    'h6': 1.6rem,
 ) !default;
 $heading-font-sizes-classes: ('h1', 'h2', 'h3', 'h4') !default;

 $heading-color:           $color-base !default;
 $heading-font-family:     $font-family-base !default;
 $heading-font-weight:     500 !default;
 $heading-line-height:     1.125 !default;
 $heading-margin-top:      .2em !default;
 $heading-margin-bottom:   .45em !default;
 $heading-letter-spacing:  -.1rem !default;
 $heading-letter-spacing-tags: () !default; // list of header (h1, h2) ...

 // Paragraph
 $paragraph-margin-bottom: 1.8rem !default;

 // Anchor
 $anchor-color:             $color-primary !default;
 $anchor-color-hover:       $color-secondary !default;
 $anchor-text-decoration:   none !default;

 // Description list
 $definition-list-term-font-weight: 700 !default;

 // Hr
 $hr-color: #cdcdcd !default;
 $hr-margins: 1.5rem !default;


/**
 * Text Sizes
 */
$text-sizes: (
    'large': 2rem,
    'small': 1.4rem,
    'tiny':  1.2rem,
) !default;
$text-sizes-breakpoints-classes: () !default;
$text-sizes-is-important: true !default;


/**
 * Text alignements
 */
 $text-alignments: (
     'left',
     'right',
     'center',
 ) !default;
 $text-alignments-breakpoints-classes: () !default;
 $text-alignments-is-important: false !default;


/**
 * Text Transform
 */
 $text-transforms: (
     'uppercase',
 ) !default;
 $text-transforms-breakpoints-classes: () !default;
 $text-transforms-is-important: false !default;


/**
 * Text Decoration
 */
 $text-decorations: () !default;
 $text-decorations-breakpoints-classes: () !default;
 $text-decorations-is-important: false !default;


/**
 * Letter Spacing
 */
 $letter-spacings: (
   'narrow': -.05rem,
   'wide': .05rem,
 ) !default;
 $letter-spacings-breakpoints-classes: () !default;
 $letter-spacings-is-important: false !default;


/**
 * Font Style
 */
 $font-styles: (
     'italic',
 ) !default;
 $font-styles-breakpoints-classes: () !default;
 $font-styles-is-important: false !default;


/**
 * Font Weight
 */
 $font-weights: (
     'light':  300,
     'bold':   700,
 ) !default;
 $font-weights-breakpoints-classes: () !default;
 $font-weights-is-important: false !default;


/**
 * Font Family
 */
 $font-family-secondary: 'Georgia', times, serif !default;
 $font-families: (
     'primary': $font-family-base,
     'secondary': $font-family-secondary,
 ) !default;
 $font-families-breakpoints-classes: () !default;
 $font-families-is-important: false !default;


 /**
  * List
  */
 $list-inline-spacing: 1em !default;
 $list-divide-spacing: $list-inline-spacing !default;
 $list-divide-size: 1.2em !default;
 $list-divide-affix: '|' !default;
 $list-divide-affix-color: #cdcdcd !default;


/**
 * Container
 */
 $container-gutter: 1.6rem !default;
 $container-gutter-sm: 2.4rem !default;
 $containers-max-width: 1080px !default;


/**
 * Columns
 */
 $columns-gutter: 2.4rem !default;
 $columns-system: 12 !default;
 $columns-gutter-sizes: (
    'less' : 0,
    'small': 1.6rem,
 ) !default;
 $columns-gutter-sizes-breakpoints-classes: () !default;

 $use-columns-order:          true !default;
 $use-columns-offset:         false !default;
 $use-columns-alignment:      true !default;
 $use-columns-self-alignment: true !default;
 $use-columns-child-alignment: true !default;

 $use-columns-alignment-breakpoints: true !default;
 $use-columns-self-alignment-breakpoints: true !default;
 $use-columns-self-adjustment-breakpoints: false !default;


/**
 * Grid
 */

 $use-grid-gap: true !default;
 $use-v-grid-gap: true !default;

 $grid-gap:    $columns-gutter !default;
 $grid-system: $columns-system !default;

 $grid-gap-sizes: $columns-gutter-sizes !default;
 $grid-v-gap-sizes: $grid-gap-sizes !default;


/**
 * Spacing
 */
 $use-v-spacing:         true !default;
 $v-spacing-from:        0 !default;
 $v-spacing-to:          50 !default;
 $v-spacing-step:        5 !default;
 $v-spacing-addon:       () !default;
 $v-spacing-breakpoints-classes: () !default;

 $use-h-spacing:         true !default;
 $h-spacing-from:        0 !default;
 $h-spacing-to:          25 !default;
 $h-spacing-step:        5 !default;
 $h-spacing-addon:       () !default;
 $h-spacing-breakpoints-classes: () !default;


/**
 * Wrapper
 */
 $wrapper-padding-sizes: (
    'tiny':   .8rem,
    'small':  1.6rem,
    'medium': 2.4rem,
 ) !default;
 $wrapper-breakpoints-classes: () !default;


/**
 * Button
 */
 $btn-colors: () !default;
 $btn-colors-classes: $colors-classes !default;

 $btn-color:          $color-base !default;
 $btn-color-hover:    $btn-color !default;
 $btn-bgcolor:        #fff !default;
 $btn-bgcolor-hover:  darken($btn-bgcolor, 10%) !default;
 $btn-bgcolor-active: darken($btn-bgcolor, 12%) !default;
 $btn-border-color:   #eee !default;

 $btn-padding:        .415em 1.2em !default; // relative to the size of the button
 $btn-font-family:    $font-family-base !default;
 $btn-font-size:      $font-size-base !default;
 $btn-font-weight:    700 !default;
 $btn-text-transform: initial !default;
 $btn-border-radius:  .2em !default; // relative to the size of the button
 $btn-box-shadow:     1px 1px 1px 0 #999 !default;

 $btn-outline-colors:         $btn-colors !default;
 $btn-outline-colors-classes: $btn-colors-classes !default;

 $btn-outline-color:          $btn-color !default; // set inherit to get the colors from the borders
 $btn-outline-padding:        $btn-padding !default;
 $btn-outline-font-family:    $btn-font-family !default;
 $btn-outline-font-weight:    $btn-font-weight !default;
 $btn-outline-text-transform: $btn-text-transform !default;
 $btn-outline-box-shadow:     none !default;

 $btn-padding-sizes: () !default;


/**
 * Form
 */
 $input-color:            #4d4d4d !default;
 $input-bgcolor:          #fff !default;
 $input-font-family:      $font-family-base !default;
 $input-font-size:        $font-size-base !default;
 $input-font-style:       normal !default;
 $input-line-height:      1.15 !default;

 $input-padding:          .5em .625em !default; // relative to the size of the input
 $input-padding-sizes:    () !default;

 $input-border-color:     #d6d6d6 !default;
 $input-border:           1px solid $input-border-color !default;
 $input-border-radius:    .2em !default; // relative to the size of the input
 $input-box-shadow:       1px 1px 1px 0 rgba(#aaa, .50) !default;
 $input-focus-box-shadow: 1px 1px 2px 0px rgba(#aaa, .85) !default;
 $input-focus-border-color: $input-border-color !default;

 $label-font-weight:      500 !default;
 $label-margin:           .3rem !default;

 // Selects

 $select-size:    10px !default;
 $select-weight:  2px !default;
 $select-color:   $input-color !default;
 $select-bgcolor: $input-bgcolor !default;

 // Checkboxes

 $checkbox-size:                  1.8rem !default;
 $checkbox-bgcolor:               $input-bgcolor !default;
 $checkbox-border-color:          $input-border-color !default;
 $checkbox-border-radus:          $input-border-radius !default;
 $checkbox-box-shadow:            1px 1px 2px 0 rgba(#aaa, .3) !default;
 $checkbox-checked-color:         $input-color !default;
 $checkbox-checked-bgcolor:       $input-bgcolor !default;
 $checkbox-checked-border-color:  $checkbox-border-color !default;

 $use-checkbox-animation: true !default;
 $checkbox-sizes:() !default;
 $checkbox-breakpoints-classes:() !default;

 // Radios

 $radio-size:                  $checkbox-size !default;
 $radio-bgcolor:               $checkbox-bgcolor !default;
 $radio-border-color:          $checkbox-border-color !default;
 $radio-box-shadow:            $checkbox-box-shadow !default;
 $radio-checked-color:         $input-color !default;
 $radio-checked-bgcolor:       $radio-bgcolor !default;
 $radio-checked-border-color:  $radio-border-color !default;

 $use-radio-animation:       $use-checkbox-animation !default;
 $radio-sizes:               $checkbox-sizes !default;
 $radio-breakpoints-classes: $checkbox-breakpoints-classes !default;

 // Toggles

 $toggle-size:                  2.4rem !default;
 $toggle-color:                 $input-bgcolor !default;
 $toggle-bgcolor:               $input-border-color !default;
 $toggle-border-color:          $toggle-bgcolor !default;
 $toggle-box-shadow:            $checkbox-box-shadow !default;

 $toggle-checked-bgcolor:       $input-color !default;
 $toggle-checked-border-color:  $toggle-checked-bgcolor !default;

 $use-toggle-animation: true !default;
 $toggle-sizes:() !default;


/**
 * Float utilities
 */
 $float: (
    'left': left,
    'right': right,
 ) !default;
 $float-breakpoints-classes: $breakpoints-classes !default;
 $float-is-important: true !default;


/**
 * Visibility Utilities
 */
 $visibility-breakpoints-classes: $breakpoints-classes !default;
