/**
 * breakpoints
 */

$breakpoints: (
    sm: 768px,  // min width
    md: 992px,  // min width
    lg: 1200px, // min width
) !default;

// including the first step
$breakpoints-from-start: ('', sm, md, lg) !default;

@mixin breakpoint($key) {
	// make sure the key exist
	@if map-has-key($breakpoints, $key) {
		$width: map-get($breakpoints, $key);
		@media (min-width: $width) {
			@content;
		}
	}@elseif $key == '' {
        @content;
    }
}
