/// fontSmoothing
/// @param bool $smooth Apply smoothing ?

@mixin fontSmoothing($smooth : true) {
  @if $smooth == false {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  } @else {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
