/**
 * Triangle
 */

@mixin triangleTop($width, $color:'') {
	display: inline-block;
	border-left: transparent $width solid;
	border-right: transparent $width solid;
	border-bottom: #{$color} $width solid;
}

@mixin triangleRight($width, $color:'') {
	display: inline-block;
    border-left: #{$color} $width solid;
    border-top: transparent $width solid;
    border-bottom: transparent $width solid;
}

@mixin triangleBottom($width, $color:'') {
	display: inline-block;
	border-left: transparent $width solid;
	border-right: transparent $width solid;
	border-top: #{$color} $width solid;
}

@mixin triangleLeft($width, $color:'') {
	display: inline-block;
	border-right: #{$color} $width solid;
	border-top: transparent $width solid;
	border-bottom: transparent $width solid;
}
