@import '../functions/replace';
@import '../functions/type';
@import 'loop';

/**
 * Generate Utilities
 * @param $utilitiesMap 
 */

 @mixin generateUtilities($utilitiesMap) {
  @each $name, $options  in $utilitiesMap {
    @if isMap($options) {
      $props: if(map-has-key($options, 'values'), oo('values', $options), ());
      $property-name: if(map-has-key($options, 'property'), oo('property', $options), toKebabCase($name));
      $prefix: if(map-has-key($options, 'prefix'), oo('prefix', $options), nth(split('-', toKebabCase($name)), 1));
      $is-important: if(map-has-key($options, 'important'), oo('important', $options), true);
      $screens: if(map-has-key($options, 'screens'), oo('screens', $options), ());
      
      @if not (str-slice(prefix, 1, 1) == '.') {
        $prefix: '.' + $prefix;
      }
  
      @include loop(
        $props,
        $property-name,
        $prefix,
        $is-important
      );
  
      @include loopBreakpoints(
        $screens,
        $props,
        $property-name,
        $prefix,
        $is-important
      );
    }
  }
}