@use '../fn';

/// ooPipe
/// Pipe list of ooSet Rules
/// @param list $rules List of rules
/// @return ooLoop

@function ooPipe($rules...) {
  $map: $ooLoop;
  @each $rule in $rules {
    @if fn.getMapValue($rule, 'action') == 'add' {
      $map: ooAdd(fn.getMapValue($rule, 'path'), fn.getMapValue($rule, 'value'), $map);
    } @else {
      $map: ooSetHard(fn.getMapValue($rule, 'path'), fn.getMapValue($rule, 'value'), $map);
    }
  }
  @return $map;
}

@function _set($path, $value) {
  @return (
    path: $path,
    value: $value,
    action: 'set',
  );
}

@function _add($path, $value) {
  @return (
    path: $path,
    value: $value,
    action: 'add',
  );
}