/**
 * In Array
 * @param string $needle  the searched value
 * @param array | string  $haystack the array to search in
 * @return bool
 */

@function inArray($needle, $haystack) {
    @if index($haystack, $needle) == null {
        @return false;
    } @else {
        @return true;
    }
}

/**
 * mergeArray
 * @param list|map $array1  list or map
 * @param list|map $array2  list or map being the same type of $array1
 * @return list|map
 */

@function mergeArray($array1, $array2) {
    $merge: ();

    // merge if $array1 or $array2 is not empty
    @if isNotEmpty($array1) {
        @if type-of($array1) == 'list' and type-of($array2) == 'list' {
            $merge: join($array1, $array2);
        } @elseif type-of($array1) == 'map' and type-of($array2) == 'map' {
            $merge: map-merge($array1, $array2);
        } @else {
            $merge: $array1;
        }
    } @elseif isNotEmpty($array2) {
        $merge: $array2;
    }

    @return $merge;
}
