/**
 * Transform camelCase to kebab-case
 * @param string $string The string to modify
 *
 * @return string
 */
 @function toKebabCase($string) {
  $kebabString: '';
  @for $i from 1 through str-length($string) {
    $character: str-slice($string, $i, $i);
    $kebabString: $kebabString + if($character == to-lower-case($character) or $i == 1, to-lower-case($character), to-lower-case(-#{$character}));
  }
  @return $kebabString;
}


/**
 * Convert to type
 * @param string $type to be converted into
 * @param mixed $data data to check
 *
 * @return mixed
 */
 @function toType($type, $data) {
  @if type-of($data) == $type {
    @return $data;
  }
  @if $type == 'string' {
    @return inspect($data);
  }
  @if $type == 'color' {
    @return toColor($data);
  }
  @if $type == 'number' {
    @return toNumber($data);
  }
  @if $type == 'list' {
    @return toList($data);
  }
  @if $type == 'map' {
    @return toMap($data);
  }
  @return $data;
}