@use 'sass:meta';
@use 'sass:string';
@use 'type';

/// Extract
/// @param string $start The string to start width
/// @param string $end The string to end width
/// @param string $subject The string to search into
/// @return string

@function extract($start, $end, $subject) {
  @if type.isNotString($subject) {
    $subject: meta.inspect($subject)
  }
  $startIndex: string.index($subject, $start);
  $endIndex: string.index($subject, $end) + string.length($end) - 1;

  @return string.slice($subject, $startIndex, $endIndex);
}
