/// oo
/// Get value from a map with the ooFormat (default $ooLoop)
/// @param string  $key  ooFormat key
/// @param map|null $map the map to update (default $ooLoop)
/// @return mixed

@function oo($key, $map:null) {
  $map: if($map == null, $ooLoop, $map);

  // double check if quotes exist (issue with some sass version and PostCSS Parser)
  @if str-slice($key, 1, 1) == '"' and str-slice($key, str-length($key), - 1) == '"' {
    $key: str-slice($key, 2, str-length($key) - 1);
  }

  @if str-index($key, '.') == null {
    @return getMapValue($map, $key);
  }

  $list: split('.', $key);

  @for $i from 1 through length($list) {
    $value: getMapValue($map, nth($list, $i));
    @if $i == length($list) and isEmpty($value) {
      $value: getMapValue($map, toKebabCase(nth($list, $i)));
    }
    $map: $value;
  }
 
  @return $map;
}

/// ooPrefix
/// get loop prefix
/// @return string

@function ooPrefix() {
  @return if(oo(dataAttr) == true, 'data-oo', 'oo');
}