/**
 * ooAdd
 * Push new map value to an another set of map with the ooFormat (default $ooLoop)
 * @param string $key ooFormat key
 * @param map|list $mapValue the value to add
 * @param map|null $map the map to update (default $ooLoop)
 * @return map
 */
@function ooAdd($key, $mapValue, $map:null) {
  $currentValue: oo($key, $map);

  @if isEmpty($currentValue) {
    $newValue: ooSetSoft($key, $mapValue, $map);
    @return $newValue;
  }

  @if (isRef($currentValue)) {
    $currentValue: getRefValue($currentValue, $map);
  }

  @if isString($currentValue) {
    $currentValue: toList($currentValue);
  }

  @if isList($currentValue) {
    $newValue: ooSetSoft($key, append($currentValue, $mapValue), $map);
    @return $newValue;
  }
    
  $newValue: ooSetSoft($key, mapMergeDeep($currentValue, $mapValue), $map);
  @return $newValue;
}
