/// hasRef
/// Check if a map has a ooFormat
/// @param mixed
/// @return bool

@function hasRef($search) {
  @if isNotString($search) {
    $search: inspect($search);
  }
  @return if(str-index($search, 'this(') == null, false, true);
}


/// isRef
/// Check if a string is a ooFormat
/// @param string $string
/// @return bool

@function isRef($string) {
  @if isNotString($string) {
    $string: inspect($string);
  }
  @return str-slice($string, 1, 5) == 'this(' and str-slice($string, str-length($string)) == ')';
}

/// hasSpreadOperator
/// Check if a reference has the spread operator  
/// @param string  $ref
/// @return bool

@function hasSpreadOperator($ref) {
  @if isNotString($ref) {
    $ref: inspect($ref);
  }
  @return if(str-index($ref, '_this(') == null, false, true);
}

/// getRefPath
/// get the ooFormat reference path
/// @param string $string
/// @return String

@function getRefPath($string) {
  @if isNotString($string) {
    $string: inspect($string);
  }
  @return str-slice($string, 6, -2);
}

/// getRefValue
/// Retrieve the value of a reference
/// @param string $ref the reference
/// @map map $map the map look through

@function getRefValue($ref, $map) {
  $value: oo(getRefPath($ref), $map);
  @if isRef($value) {
    $value: getRefValue($value, $map);
  }
  @return $value;
}

/// extractRef
/// extract the ooFormat reference from a string
/// @param string  $string The string to extract the ref from
/// @return string

@function extractRef($string) {
  @if isNotString($string) {
    $string: inspect($string)
  }
  @if not hasRef($string) {
    @return $string;
  }
  $extractString: extract('this(', ')', $string);
  @return $extractString;
}
