@import 'type';

/**
 * Replace
 * @param String $search  The value being searched
 * @param String $replace The replacement value
 * @parem String $subject The string being searched and replaced on
 *
 * @return String
 */

@function replace($search, $replace, $subject) {
  $searchIndex: str-index($subject, $search);
  @if isString($search) and isString($replace) and isString($subject) and $searchIndex {
    $subjectStart: str-slice($subject, 1, $searchIndex - 1);
    $subjectEnd: str-slice($subject, $searchIndex + str-length($search));
    $newSubject: $subjectStart + $replace + $subjectEnd;
    @return replace($search, $replace, $newSubject);
  } @else {
    @return $subject;
  }
}

@function stripSpaces($string) {
  @return replace(' ', '', #{$string}); 
}

/**
 * Transform camelCase to kebab-case
 * @param String $string The string to modify
 *
 * @return String
 */
@function toKebabCase($string) {
  $kebabString: '';
  @for $i from 1 through str-length($string) {
    $character: str-slice($string, $i, $i);
    $kebabString: $kebabString + if($character == to-lower-case($character) or $i == 1, to-lower-case($character), to-lower-case(-#{$character}));
  }
  @return $kebabString;
}