/**
 * Replace
 * @param string $search  The value being searched
 * @param string $replace The replacement value
 * @parem string $subject The string being searched and replaced on
 *
 * @return String
 */

@function replace($search, $replace, $subject) {
  $searchIndex: str-index($subject, $search);
  @if isString($search) and isString($replace) and isString($subject) and $searchIndex {
    $subjectStart: str-slice($subject, 1, $searchIndex - 1);
    $subjectEnd: str-slice($subject, $searchIndex + str-length($search));
    $newSubject: $subjectStart + $replace + $subjectEnd;
    @return replace($search, $replace, $newSubject);
  } @else {
    @return $subject;
  }
}
