@use 'sass:list';
@use 'sass:string';
@use 'type';

/// Split
/// @param string $pattern The string character to split your string by
/// @param string $subject The input string
/// @param list   $list    The list being populated
/// @return list

@function splitDeep($pattern, $subject, $list:()) {
  $searchIndex: string.index($subject, $pattern);
  @if type.isString($pattern) and type.isString($subject) and $searchIndex {
    $subjectStart: string.slice($subject, 1, $searchIndex - 1);
    $subjectEnd: string.slice($subject, $searchIndex + string.length($pattern));
    $newList: list.join($list, $subjectStart);
    @return splitDeep($pattern, $subjectEnd, $newList);
  } @else {
    $newList: list.join($list, $subject);
    @return $newList;
  }
}
