/**
 * Color Utilities
 */

$text-colors: (
    'color': $color-base, // .text-color class matching base color for text
) !default;
$text-colors-addon: () !default;
$text-colors-classes: $colors-classes !default;

$bg-colors: (
    'body': $bgcolor-base, // .bg-body class matching base color for background
) !default;
$bg-colors-addon: () !default;
$bg-colors-classes: $colors-classes !default;

$border-colors: (
    'color': #cdcdcd,
) !default;
$border-colors-addon: () !default;
$border-colors-classes: $colors-classes !default;

// Text colors
@include loop($text-colors, 'color', '.text', $text-colors-addon);
@include loopMapKeys($text-colors-classes, $colors, 'color', '.text');

// Bg colors
@include loop($bg-colors, 'background-color', '.bg', $bg-colors-addon);
@include loopMapKeys($bg-colors-classes, $colors, 'background-color', '.bg');

@if isNotEmpty($border-colors)
    or isNotEmpty($border-colors-classes)
    or isNotEmpty($border-colors-addon) {
    [class*="border-"] { border: 1px solid; }
}
@include loop($border-colors, 'border-color', '.border', $border-colors-addon);
@include loopMapKeys($bg-colors-classes, $colors, 'border-color', '.border');
