/**
 * Color Utilities
 */

$text-colors: () !default;
$text-colors-addon: () !default;
$text-colors-classes: $colors-classes !default;

$bg-colors: () !default;
$bg-colors-addon: () !default;
$bg-colors-classes: $colors-classes !default;

$border-colors: () !default;
$border-colors-addon: () !default;
$border-colors-classes: $colors-classes !default;

// Text colors
@include loop($text-colors, 'color', '.color', $text-colors-addon, true);
@include loopMapKeys($text-colors-classes, $colors, 'color', '.color', true);

// Bg colors
@include loop($bg-colors, 'background-color', '.bg', $bg-colors-addon);
@include loopMapKeys($bg-colors-classes, $colors, 'background-color', '.bg');

// Border colors
@include loop($border-colors, 'border-color', '.border', $border-colors-addon, true);
@include loopMapKeys($bg-colors-classes, $colors, 'border-color', '.border', true);
