@use '../variables' as v;
@use '../mixins/breakpoint';

/**
 * Container
 */

.container,
.container-fluid {
  margin-left: auto;
  margin-right: auto;

  padding-right: v.$container-gutter;
  padding-left: v.$container-gutter;

  display: block;
  max-width: v.$containers-max-width;

  @include breakpoint.from(sm) {
    padding-left: v.$container-gutter-sm;
    padding-right: v.$container-gutter-sm;
  }
}

.container-fluid { max-width: none; }
