/**
 * Container
 */

@mixin Container($param: null) {
  @include initComponent('container', $param);

  .container,
  .container-fluid {
    margin-left: auto;
    margin-right: auto;  
    display: block;

    $gutter: oo('container.gutter');

    @if isMap($gutter) {
      @each $key, $value in $gutter {
        @include breakpoint($key) {
          padding-right: $value;
          padding-left: $value;
        }
      }
    } @else if isString($gutter) or isNumber($gutter) {
      padding-right: $gutter;
      padding-left: $gutter;
    }
  }
  
  .container { max-width: oo('container.maxWidth'); }
}
