/**
 * Container
 */

$container-gutter: 1.6rem !default;
$container-gutter-sm: 2.4rem !default;
$containers-max-width: 1080px !default;

.container,
.container-fluid {
  margin-left: auto;
  margin-right: auto;

  padding-right: $container-gutter;
  padding-left: $container-gutter;

  display: block;
  max-width: $containers-max-width;

  @include breakpoint(sm) {
    padding-left: $container-gutter-sm;
    padding-right: $container-gutter-sm;
  }
}

.container-fluid { max-width: none; }
