@use 'sass:map';
@use '../fn';

// FLoat utilites

@mixin Float($param: null) {
  @include initElement('float', $param);

  @if oo('float.clearfix') {
    .clear { clear: both; }
    .clearfix { 
      &::before,
      &::after {
        display: block;
        content: '';
        clear:both;
      }
    }
  }
  @if fn.isNotEmpty(oo('float.values')) {
    $float: map.remove(oo('float'), 'clearfix');
    @include generateUtilities((float: $float));
  }
}
