/**
* Loop utilites
*
* Thoses utilities are flexibles for adding and/or removing classes at your convenience
*/


// Set the font-size of an element => .text-*
$text-font-sizes: (
    'large': 2rem,   // text-large
    'small': 1.4rem, // text-small
    'tiny':  1.2rem, // text-tiny
) !default;
$text-font-sizes-addon: () !default;

// Set the font-weight of an element => .text-*
$text-font-weights: (
    'thin':   100,
    'light':  300,
    // 'regular': 400,
    'strong': 700,
) !default;
$text-font-weights-addon: () !default;



@include loop($text-font-sizes, 'text', 'font-size', $text-font-sizes-addon);
@include loop($text-font-weights, 'text', 'font-weight', $text-font-weights-addon);
