/**
 * Miscellaneous
 */

.bordered     { border-width: 1px !important; border-style: solid !important; }
.rounded      { border-radius: 50em !important; }
.center-block { margin-left: auto; margin-right: auto; }
.full         { width: 100% !important; }
.responsive	  { max-width: 100%; height: auto; }
