@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use '../variables' as v;
@use '../functions/array';
@use '../mixins/loop';

/**
 * Spacing
 */

// vertical spacing
// set default spacing
$v-spacing: ();
@for $i from v.$v-spacing-from through math.ceil(math.div(v.$v-spacing-to, v.$v-spacing-step)) {
  $v-spacing: map.merge($v-spacing, (#{$i*v.$v-spacing-step}: #{$i*v.$v-spacing-step * v.$spacing-ratio}rem));
}

// check if any custom sizes have been required
$v-spacing-addons: ();
@if list.length(v.$v-spacing-addon) > 0 {
  @each $value in v.$v-spacing-addon {
    $spacing_value: if($value == auto, auto, #{$value * v.$spacing-ratio}rem);
    $v-spacing-addons: map.merge($v-spacing-addons, (#{$value}: $spacing_value));
  }
}

@if (v.$use-v-spacing) {
  $v-spacings: array.mergeArray($v-spacing, $v-spacing-addons);
  @include loop.loop($v-spacings, 'margin-top', '.mt', true);
  @include loop.loopBreakpoints(v.$v-spacing-breakpoints-classes, $v-spacings, 'margin-top', '.mt', true);
  @include loop.loop($v-spacings, 'margin-bottom', '.mb', true);
  @include loop.loopBreakpoints(v.$v-spacing-breakpoints-classes, $v-spacings, 'margin-bottom', '.mb', true);
}

// horizontal spacing
// set default spacing
$h-spacing: ();
@for $i from v.$h-spacing-from through math.ceil(math.div(v.$h-spacing-to, v.$h-spacing-step)) {
  $h-spacing: map.merge($h-spacing, (#{$i*v.$h-spacing-step}: #{$i*v.$h-spacing-step * v.$spacing-ratio}rem));
}

// check if any custom sizes have been required
$h-spacing-addons: ();
@if list.length(v.$h-spacing-addon) > 0 {
  @each $value in v.$h-spacing-addon {
    $spacing_value: if($value == auto, auto, #{$value * v.$spacing-ratio}rem);
    $h-spacing-addons: map.merge($h-spacing-addons, (#{$value}: $spacing_value));
  }
}

@if (v.$use-h-spacing) {
  $h-spacings: array.mergeArray($h-spacing, $h-spacing-addons);
  @include loop.loop($h-spacings, 'margin-left', '.ml', true);
  @include loop.loopBreakpoints(v.$h-spacing-breakpoints-classes, $h-spacings, 'margin-left', '.ml', true);
  @include loop.loop($h-spacings, 'margin-right', '.mr', true);
  @include loop.loopBreakpoints(v.$h-spacing-breakpoints-classes, $h-spacings, 'margin-right', '.mr', true);
}
