/**
 * Text utilites
 *
 * Thoses utilities are flexibles for adding and/or removing classes at your convenience
 */


/**
 * Text Sizes
 */
$text-sizes: (
    'large': 2rem,  
    'small': 1.4rem,
    'tiny':  1.2rem,
) !default;
$text-sizes-breakpoints-classes: () !default;
$text-sizes-is-important: true !default;

/**
 * Text alignements
 */
$text-alignments: (
    'left',
    'right',
    'center',
) !default;
$text-alignments-breakpoints-classes: () !default;
$text-alignments-is-important: false !default;

/**
 * Text Transform
 */
$text-transforms: (
    'uppercase',
) !default;
$text-transforms-breakpoints-classes: () !default;
$text-transforms-is-important: false !default;

/**
 * Text Decoration
 */
$text-decorations: (
    'line-through', // text-line-through
) !default;
$text-decorations-breakpoints-classes: () !default;
$text-decorations-is-important: false !default;

/**
 * Font Style
 */
$font-styles: (
    'italic', // text-italic
) !default;
$font-styles-breakpoints-classes: () !default;
$font-styles-is-important: false !default;

/**
 * Font Weight
 */
$font-weights: (
    'light':  300, // font-weight-light
    'bold':   700, // font-weight-bold
) !default;
$font-weights-breakpoints-classes: () !default;
$font-weights-is-important: false !default;

/**
 * Font Family
 */
$font-families: (
    'primary': $font-family-base,
    'secondary': $font-family-secondary,
) !default;
$font-families-breakpoints-classes: () !default;
$font-families-is-important: false !default;

/**
 * Letter Spacing
 */
$letter-spacings: (
    'narrow': -.05rem,
    'wide': .05rem,
) !default;
$letter-spacings-breakpoints-classes: () !default;
$letter-spacings-is-important: false !default;

// Font size
@include loop($text-sizes, 'font-size', '.text', $text-sizes-is-important);
@include loopBreakpoints($text-sizes-breakpoints-classes, $text-sizes, 'font-size', '.text', $text-sizes-is-important);

// Text align
@include loop($text-alignments, 'text-align', '.text', $text-alignments-is-important);
@include loopBreakpoints($text-alignments-breakpoints-classes, $text-alignments, 'text-align', '.text', $text-alignments-is-important);

// Text transform
@include loop($text-transforms, 'text-transform', '.text', $text-transforms-is-important);
@include loopBreakpoints($text-transforms-breakpoints-classes, $text-transforms, 'text-transform', '.text', $text-transforms-is-important);

// Text decoration
@include loop($text-decorations, 'text-decoration', '.text', $text-decorations-is-important);
@include loopBreakpoints($text-decorations-breakpoints-classes, $text-decorations, 'text-decoration', '.text', $text-decorations-is-important);

// Font Style
@include loop($font-styles, 'font-style', '.text', $font-styles-is-important);
@include loopBreakpoints($font-styles-breakpoints-classes, $font-styles, 'font-style', '.text', $font-styles-is-important);

// Font weight
@include loop($font-weights, 'font-weight', '.font', $font-weights-is-important);
@include loopBreakpoints($font-weights-breakpoints-classes, $font-weights, 'font-weight', '.font', $font-weights-is-important);

// Font Family
@include loop($font-families, 'font-family', '.font', $font-families-is-important);
@include loopBreakpoints($font-families-breakpoints-classes, $font-families, 'font-family', '.font', $font-families-is-important);

// Letter Spacing
@include loop($letter-spacings, 'letter-spacing', '.letter-spacing', $letter-spacings-is-important);
@include loopBreakpoints($letter-spacings-breakpoints-classes, $letter-spacings, 'letter-spacing', '.letter-spacing', $letter-spacings-is-important);
