/**
 * Visibility Utilities
 */

$visibility-breakpoints-classes: $breakpoints-classes !default;
$visibility-pointbreaks-classes: $pointbreaks-classes !default;

.hidden { display: none !important; }

.hidden\@print {
  @media print { display: none !important; }
}
.hidden\@screen {
  @media screen { display: none !important; }
}

@if isNotEmpty($visibility-breakpoints-classes) {
  @each $class in $visibility-breakpoints-classes {
      @include breakpoint($class) {
          .hidden\@#{$class} { display: none !important; }
      }
  }
}

@if isNotEmpty($visibility-pointbreaks-classes) {
  @each $class in $visibility-pointbreaks-classes {
    @include pointbreak($class) {
      .hidden\!\@#{$class} { display: none !important; }
    }
  }
}
