@use '../variables' as v;
@use '../mixins/breakpoint';
@use '../functions/empty';

/**
 * Visibility Utilities
 */

.hidden { display: none !important; }

.hidden\@print {
  @media print { display: none !important; }
}
.hidden\@screen {
  @media screen { display: none !important; }
}

@if empty.isNotEmpty(v.$visibility-breakpoints-classes) {
  @each $class in v.$visibility-breakpoints-classes {
      @include breakpoint.from($class) {
          .hidden\@#{$class} { display: none !important; }
      }
  }
}

@if empty.isNotEmpty(v.$visibility-pointbreaks-classes) {
  @each $class in v.$visibility-pointbreaks-classes {
    @include breakpoint.to($class) {
      .hidden\!\@#{$class} { display: none !important; }
    }
  }
}
