/**
 * Wrapper
 */

$wrapper-padding: 2.4rem !default;
$wrapper-padding-sizes: (
    ''     : $wrapper-padding,
    'tiny' : .8rem,
    'small': 1.6rem,
    'large': 4rem,
) !default;
$wrapper-padding-addon: (
    'wide' : (
        '': 2rem,
        sm: 4.6rem,
        lg: 6.4rem,
    ),
) !default;

.wrapper {
    @include loopResponsive($wrapper-padding-sizes, 'padding', '&', $wrapper-padding-addon);
}
