@use 'sass:color';
@use 'sass:map';
@use '../variables' as v;
@use '../functions' as fn;

/**
 * Button
 */

[#{v.$loop-component-prefix}-button] {
  padding: v.$btn-padding;
  display: inline-block;

  color: v.$btn-color;
  line-height: 1.4;
  // letter-spacing: .05rem;

  font-family: v.$btn-font-family;
  font-size: v.$btn-font-size;
  font-weight: v.$btn-font-weight;

  text-align: center;
  text-decoration: none !important;
  @if v.$btn-text-transform != initial {
      text-transform: v.$btn-text-transform;
  }
  vertical-align: middle;
  // white-space: nowrap;

  border: 1px solid v.$btn-border-color;
  border-radius: v.$btn-border-radius;
  background-color: v.$btn-bgcolor;
  box-shadow: v.$btn-box-shadow;

  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;


  &:focus { outline: none; }

  &:hover,
  &:focus {
    color: v.$btn-color-hover;
    background-color: v.$btn-bgcolor-hover;
  }
  &:active {
    background-color: v.$btn-bgcolor-active;
    box-shadow: inset 1px 1px 1px 0 color.adjust(v.$btn-bgcolor, $lightness: -20%);
  }

  &.full {
    padding-left: 2px;
    padding-right: 2px;
  }
}

@mixin paintButton($color-value) {
  color: if(fn.isBright($color-value), v.$color-base, #fff);
  background-color: $color-value;

  @if v.$btn-border-color != transparent {
    border-color: $color-value;
  }
  &:hover,
  &:focus {
    color: if(fn.isBright($color-value), v.$color-base, #fff);
    border-color: color.adjust($color-value, $lightness: -10%);
    background-color: color.adjust($color-value, $lightness: -10%);
  }
  &:active {
    border-color: color.adjust($color-value, $lightness: -12%);
    background-color: color.adjust($color-value, $lightness: -12%);
    box-shadow: inset  1px 1px 1px 0 color.adjust($color-value, $lightness: -25%);
  }
}

@if fn.isNotEmpty(v.$btn-colors-classes) {
  @each $color in v.$btn-colors-classes {
    [#{v.$loop-component-prefix}-button~="#{$color}"] {
      @include paintButton(map.get(v.$colors, $color));
    }
  }
}

@if fn.isNotEmpty(v.$btn-colors) and fn.isMap(v.$btn-colors) {
  @each $name, $value in v.$btn-colors {
    [#{v.$loop-component-prefix}-button~="#{$name}"] {
      @include paintButton($value);
    }
  }
}

@mixin paintButtonOutline($color-value) {
  @if v.$btn-outline-color == inherit {
    color: $color-value;
  }
  border-color: $color-value;

  &:hover,
  &:focus {
    color: if(fn.isBright($color-value), v.$color-base, #fff);
    border-color: color.adjust($color-value, $lightness: -10%);
    background-color: color.adjust($color-value, $lightness: -10%);
  }
  &:active {
    color: if(fn.isBright($color-value), v.$color-base, #fff);
    border-color: color.adjust($color-value, $lightness: -12%);
    background-color: color.adjust($color-value, $lightness: -12%);
    box-shadow: inset  1px 1px 1px 0 color.adjust($color-value, $lightness: -25%);
  }
}

@if fn.isNotEmpty(v.$btn-outline-colors-classes) or (fn.isNotEmpty(v.$btn-outline-colors) and fn.isMap(v.$btn-outline-colors)) {
  [#{v.$loop-component-prefix}-button~="outline"] {
    background-color: transparent;

    @if v.$btn-outline-padding != v.$btn-padding {
      padding: v.$btn-outline-padding
    }
    @if v.$btn-outline-font-family != v.$btn-font-family {
      font-family: v.$btn-outline-font-family
    }
    @if v.$btn-outline-font-weight != v.$btn-font-weight {
      font-weight: v.$btn-outline-font-weight
    }
    @if v.$btn-outline-text-transform != v.$btn-text-transform {
      text-transform: v.$btn-outline-text-transform
    }
    @if v.$btn-outline-color != inherit {
      color: v.$btn-outline-color;
    }
    @if v.$btn-box-shadow != v.$btn-outline-box-shadow {
      box-shadow: v.$btn-outline-box-shadow;
    }

    @if fn.isNotEmpty(v.$btn-outline-colors-classes) {
      @each $color in v.$btn-outline-colors-classes {
        &[#{v.$loop-component-prefix}-button~="#{$color}"] {
          @include paintButtonOutline(map.get(v.$colors, $color));
        }
      }
    }
    @if fn.isNotEmpty(v.$btn-outline-colors) and fn.isMap(v.$btn-outline-colors) {
      @each $name, $value in v.$btn-colors {
        &[#{v.$loop-component-prefix}-button~="#{$name}"] {
          @include paintButtonOutline($value);
        }
      }
    }
  }
}

@if fn.isNotEmpty(v.$btn-padding-sizes) {
  @each $name, $padding in v.$btn-padding-sizes {
    [#{v.$loop-component-prefix}-button~="#{$name}"] {
      padding: #{$padding};
    }
  }
}
