/**
 * Button
 */
$btn-colors-classes: $colors_classes !default;

$btn-color:          $color-base !default;
$btn-color-hover:    $btn-color !default;
$btn-bgcolor:        #fff !default;
$btn-bgcolor-hover:  darken($btn-bgcolor, 10%) !default;
$btn-bgcolor-active: darken($btn-bgcolor, 12%) !default;

$btn-padding:        .415em 1.2em !default; // relative to the size of the button
$btn-font-family:    $font-family-base !default;
$btn-font-size:      $font-size-base !default;
$btn-font-weight:    700 !default;
$btn-text-transform: uppercase !default;
$btn-border-radius:  .2em !default; // relative to the size of the button
$btn-box-shadow:     1px 1px 1px 0 #999 !default;

.button {
    padding: $btn-padding;
    display: inline-block;

    color: $btn-color;
    line-height: 1.4;
    letter-spacing: .05rem;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    text-align: center;
    text-decoration: none !important;
    text-transform: $btn-text-transform;
    vertical-align: middle;
    white-space: nowrap;
    
    border: none;
    border-radius: $btn-border-radius;
    background-color: $btn-bgcolor;
    box-shadow: $btn-box-shadow;

    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    appearance: none;

    &:hover,
    &:focus {
        color: $btn-color-hover;
        background-color: $btn-bgcolor-hover;
        outline: none;
    }

    &:active {
        background-color: $btn-bgcolor-active;
        box-shadow: inset 1px 1px 1px 0 darken($btn-bgcolor, 25%);
        transform: scale(.97);
    }

    @if isNotEmpty($btn-colors-classes) and type-of($btn-colors-classes) == 'list' {
        @each $color in $btn-colors-classes {
            $color_value: map-get($colors, $color);
            &.-#{$color} {
                background-color: $color_value;
                color: if(isBright($color_value), $color-base, #fff);

                &:hover,
                &:focus {
                    background-color: darken($color_value, 10%);
                }
                &:active {
                    background-color: darken($color_value, 12%);
                    box-shadow: inset  1px 1px 1px 0 darken($color_value, 25%);
                }
            }
        }
    }
}
