/**
 * Columns
 */

$column-gap: 2.6rem !default;
$column-system: 12 !default;
$use-column-offset: true !default;
$column-gaps: (
    'less' : 0,
    'tiny' : 1rem,
    'small': 2rem
) !default;

// none modifiable
$column-gap-half: ($column-gap / 2);

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: $column-gap;
    padding-left: $column-gap;
    width: 100%;

    @each $breakpoint, $size in $breakpoints {
        @include breakpoint($breakpoint) {
            max-width: $size;
        }
    }

    &.-fluid { max-width: map-get($breakpoints, 'lg') !important; }
}

.row {
    margin-right: ($column-gap-half * -1);
    margin-left: ($column-gap-half * -1);
    margin-bottom: ($column-gap * -1);

    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;

    & + .row {
        margin-top: $column-gap;
    }

    //.--reverse { flex-direction: row-reverse; }
}

.col {
    padding-right: $column-gap-half;
    padding-left: $column-gap-half;
    padding-bottom: $column-gap;

    flex: 0 0 auto;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;

    @each $breakpoint in $breakpoints {
        $key: nth($breakpoint, 1);  // get the key
        @for $i from 1 through $column-system {
            @include breakpoint($key) {
                &.-#{$key}-#{$i} {
                    flex-basis: percentage($i/$column-system);
                    max-width: percentage($i/$column-system);
                }
                // if we import $column-offset
                @if $use-column-offset == true {
                    &.-#{$key}-offset-#{$i} {
                        margin-left: percentage($i/$column-system);
                    }
                }
            }
        }
    }
}

.-gap {
    @each $gap-name, $gap-size in $column-gaps {
        $gap-size-half: ($gap-size / 2);
        &-#{$gap-name}.row {
            margin-right: ($gap-size-half * -1);
            margin-left: ($gap-size-half * -1);
            margin-bottom: ($gap-size * -1);

            & + .row { margin-top: $gap-size }

            .col {
                padding-right: $gap-size-half;
                padding-left: $gap-size-half;
                padding-bottom: $gap-size;
            }
        }
    }
}
