/**
 * Color
 */

// input

$input-color:            #4d4d4d !default;
$input-bgcolor:          #fff !default;
$input-font-family:      $font-family-base !default;
$input-font-size:        $font-size-base !default;
$input-font-style:       normal !default;
$input-line-height:      1.15 !default;

$input-padding:          .5em .625em !default; // relative to the size of the input
$input-margin:           .2rem !default;

$input-border-color:     #d6d6d6 !default;
$input-border:           1px solid $input-border-color !default;
$input-border-radius:    .2em !default; // relative to the size of the input
$input-box-shadow:       1px 1px 1px 0 rgba(#999, .50) !default;
$input-focus-box-shadow: 1px 1px 2px 0px rgba(#999, .85) !default;

$label-font-weight:      500 !default;

// checkbox
$checkbox-size:                  1.6rem !default;
$checkbox-bgcolor:               $input-bgcolor !default;
$checkbox-border-color:          $input-border-color !default;
$checkbox-border-radus:          $input-border-radius !default;
$checkbox-checked-color:         $checkbox-bgcolor !default;
$checkbox-checked-bgcolor:       $input-color !default;
$checkbox-checked-border-color:  $checkbox-checked-bgcolor !default;



.input {
    padding: $input-padding;
    margin-top: $input-margin;
    margin-bottom: $input-margin;

    display: block;
    width: 100%;

    color: $input-color;
    font-family: $input-font-family;
    font-size: $input-font-size;
    font-style: $input-font-style;
    line-height: $input-line-height;

    border: $input-border;
    border-radius: $input-border-radius;
    background-color: $input-bgcolor;
    box-shadow: $input-box-shadow;

    appearance: none;

    &:focus {
        outline:none;
        @if $input-box-shadow == none {
            box-shadow: $input-focus-box-shadow;
        } @elseif $input-focus-box-shadow != none {
            box-shadow: $input-box-shadow, $input-focus-box-shadow;
        }
    }
}

label {
    font-weight: $label-font-weight;
}

.checkbox {
    position: absolute;
    visibility: hidden;

    & + label {
    	position: relative;
        padding-left: $checkbox-size * 1.5;
        display: block;
        font-weight: $font-weight-base;

    	&:before {
            position: absolute;
            top: 50%;
            left: 0;

    		content:'';
    		width: $checkbox-size;
    		height: $checkbox-size;

    		border: 1px solid $checkbox-border-color;
    		background-color: $checkbox-bgcolor;
    		border-radius: $checkbox-border-radus;

            transform: translateY(-50%);
    	}
    }

	&:checked + label {

		&:before {
			background-color: $checkbox-checked-bgcolor;
            border-color: $checkbox-checked-border-color;
		}

		&:after {
            position: absolute;
			content:'';
			top: 0;
			left: $checkbox-size / 5;

            $width: ($checkbox-size * (4/10));
            $height: ($checkbox-size * (6/10));

			width: $width;
			height: $height;

            border-right: 2px solid $checkbox-checked-color;
            border-bottom: 2px solid $checkbox-checked-color;

			transform: rotate(35deg);
		}
	}
}
