$grid-gap: 1rem !default;
$grid-system: 12 !default;

.grid {
	display: grid;
  	grid-template-columns: repeat(12, 1fr);
  	grid-gap: $grid-gap;
	&.grid-columns {
		grid-auto-flow: column;
	}
	&.grid-rows {
		grid-auto-flow: row;
	}


	@for $i from 1 through 15 {
		&.gap-#{$i} {
			grid-column-gap: #{$i}px;
		}
		&.gap-row-#{$i} {
			grid-row-gap: #{$i}px;
		}
	}

	@each $breakpoint in $breakpoints {
		$key: nth($breakpoint, 1);  // get the key
		@include breakpoint($key) {			
			@for $i from 1 through $grid-system {
				&.gap-#{$key}-#{$i} {
					grid-column-gap: #{$i}px;
				}
				&.gap-row-#{$key}-#{$i} {
					grid-row-gap: #{$i}px;
				}
				&.gap-#{$i} {
					grid-gap: #{$i}px;
				}
			}


		}
	}
	.grid-item {
		@for $i from 1 through $grid-system {
			&.-col-#{$i} {
				grid-column: span $i;
			}
		}
		@each $breakpoint in $breakpoints {
			$key: nth($breakpoint, 1);  // get the key
			@include breakpoint($key) {
				@for $i from 1 through $grid-system {	
					&.-col-#{$key}-#{$i} {
						grid-column: span $i;
					}

					&.-row-#{$key}-#{$i} {
						grid-row: span $i;
					}
				}
			}
		}
	}
}
