@use 'sass:list';
@use 'sass:map';
@use '../variables' as v;
@use '../mixins/breakpoint';
@use '../functions' as fn;


// Grid layout
@if v.$use-grid-layout {
  [#{v.$loop-component-prefix}-grid~="layout"] {
    display: grid;
    grid-template-columns: repeat(v.$grid-system, 1fr);
    grid-gap: v.$grid-gap;
  }

  [#{v.$loop-component-prefix}-grid*="col"],
  [#{v.$loop-component-prefix}-grid*="row"] {
    min-width: 0;
  }

  @each $class in v.$breakpoints-classes-width-default-value {
    @include breakpoint.from($class) {
      $suffix: '';
      @if $class != '' {
        $suffix: \@#{$class};
      }
      @for $i from 1 through v.$grid-system {
        [#{v.$loop-component-prefix}-grid~="col-#{$i}#{$suffix}"] { grid-column: span $i; }
        [#{v.$loop-component-prefix}-grid~="row-#{$i}#{$suffix}"] { grid-row: span $i; }
      }
    }
  }

  @if v.$use-grid-order {
    @each $class in v.$breakpoints-classes {
      @include breakpoint.from($class) {
        $suffix: \@#{$class};
        // order-0 to make sure it is first
        [#{v.$loop-component-prefix}-grid~="order-0#{$suffix}"] { order: -1; }
        @for $i from 1 through v.$grid-system {
          [#{v.$loop-component-prefix}-grid~="order-#{$i}#{$suffix}"] { order: $i; }
        }
      }
    }
  }
}

// Grid Areas

@function getAreaNames($areas) {
  $list: ();
  @each $area in $areas {
    $areaNames: fn.split(' ', $area);
    @each $areaName in $areaNames {
      @if fn.notInList($areaName, $list) {
        $list: list.join($list, $areaName);
      }
    }
  }
  @return $list;
}
@function getAreaColumnNumber($areas) {
  @each $area in $areas {
    $areaNames: fn.split(' ', $area);
    @return list.length($areaNames);
  }
}

@mixin makeGridTemplate($grid-template-areas) {
  grid-template-areas: $grid-template-areas;
  grid-template-columns: repeat(getAreaColumnNumber($grid-template-areas), 1fr);
}
@mixin makeGridArea($areaNames) {
  @each $area in $areaNames {
    [#{v.$loop-component-prefix}-grid~="#{$area}"] {
      grid-area: #{$area};
      min-width: 0;
    }
  }
}
@mixin makeGrid($grid-template-areas) {
  @include makeGridTemplate($grid-template-areas);
  @include makeGridArea(getAreaNames($grid-template-areas));
}
@mixin makeGridOnBreakpoints($grid-template-areas) {
  $area-names-list: ();
  @each $breakpoint, $areas in $grid-template-areas {
    $area-names-list: getAreaNames(join($area-names-list, getAreaNames($areas)));
    @include breakpoint.from($breakpoint) {
      @include makeGridTemplate($areas);
    }
  }
  @include makeGridArea($area-names-list);
}

@if v.$use-grid-areas and fn.isNotEmpty(v.$grid-template-areas) {

  [#{v.$loop-component-prefix}-grid~="areas"] {
    display: grid;
    grid-gap: v.$grid-gap;
  }

  @if fn.isList(v.$grid-template-areas) {
    [#{v.$loop-component-prefix}-grid~="areas"] {
      @include makeGrid(v.$grid-template-areas);
    }
  } @else if fn.isMap(v.$grid-template-areas) {

    // are keys Breakpoints ?
    $are-keys-breakpoints: false;
    $map-keys: map.keys(v.$grid-template-areas);
    @each $key in $map-keys {
      @if fn.inList($key, $breakpoints-classes) {
        $are-keys-breakpoints: true;
      }
    }

    @if $are-keys-breakpoints {
      [#{v.$loop-component-prefix}-grid~="areas"] {
        @include makeGridOnBreakpoints(v.$grid-template-areas);
      }
    } @else {
      @each $grid-name, $grid-sub-areas in v.$grid-template-areas {
        [#{v.$loop-component-prefix}-grid~="areas"][#{v.$loop-component-prefix}-grid~="#{$grid-name}"] {
          @if fn.isMap($grid-sub-areas) {
            @include makeGridOnBreakpoints($grid-sub-areas);
          } @else if fn.isList($grid-sub-areas) {
            @include makeGrid($grid-sub-areas);
          }
        }
      }
    }
  }
}

// Grid Gap
@if v.$use-grid-gap {
  @each $gap-name, $gap-size in v.$grid-gap-sizes {
    [#{v.$loop-component-prefix}-grid~="gap-#{$gap-name}"] { grid-gap: $gap-size; }
  }
}
@if v.$use-grid-gap and v.$use-v-grid-gap {
  @each $gap-name, $gap-size in v.$grid-v-gap-sizes {
    [#{v.$loop-component-prefix}-grid~="v-gap-#{$gap-name}"] { grid-row-gap: $gap-size; }
  }
}
