/**
 * Template Areas
 */

@function getAreaNames($areas) {
  $list: ();
  @each $area in $areas {
    $areaNames: split(' ', $area);
    @each $areaName in $areaNames {
      @if notInList($areaName, $list) {
        $list: join($list, $areaName);
      }
    }
  }
  @return $list;
}
@function getAreaColumnNumber($areas) {
  @each $area in $areas {
    $areaNames: split(' ', $area);
    @return length($areaNames);
  }
}
@function areKeysBreakpoints($grid-template-areas){
  $map-keys: map-keys($grid-template-areas);
  @each $key in $map-keys {
    @if inList($key, oo('breakpoints')) {
      @return true;
    }
  }
  @return false;
}

@mixin makeGridTemplate($grid-template-areas) {
  grid-template-areas: $grid-template-areas;
  grid-template-columns: repeat(getAreaColumnNumber($grid-template-areas), 1fr);
}
@mixin makeGridArea($areaNames) {
  @each $area in $areaNames {
    [#{ooPrefix()}-area~="#{$area}"] {
      grid-area: #{$area};
    }
  }
}
@mixin makeGrid($grid-template-areas) {
  @include makeGridTemplate($grid-template-areas);
  @include makeGridArea(getAreaNames($grid-template-areas));
}
@mixin makeGridOnBreakpoints($grid-template-areas) {
  $area-names-list: ();
  @each $breakpoint, $areas in $grid-template-areas {
    $area-names-list: getAreaNames(join($area-names-list, getAreaNames($areas)));
    @include breakpoint($breakpoint) {
      @include makeGridTemplate($areas);
    }
  }
  @include makeGridArea($area-names-list);
}

@mixin makeGapOnBreakpoint($breakpoint, $gap-sizes, $vertical: false) {
  @include breakpoint($breakpoint) {
    @each $gap-name, $gap-size in $gap-sizes {
      @if $vertical {
        [#{ooPrefix()}-template~="vgap-#{$gap-name}\@#{$breakpoint}"] { grid-row-gap: $gap-size; }
      } @else {
        [#{ooPrefix()}-template~="gap-#{$gap-name}\@#{$breakpoint}"] { grid-gap: $gap-size; }
      }
    }
  }
}
@mixin makeGapOnScreens($screens, $gap-sizes, $vertical: false) {
  @if isMap($screens) {
    @each $class, $gap-names in $screens {
      @if isEmpty($gap-names) {
        @include makeGapOnBreakpoint($class, $gap-sizes, $vertical);
      } @else {
        $gap-names: toList($gap-names);
        $gap-targets: ();
        @each $name in $gap-names {
          $size: oo(#{$name}, $gap-sizes);
          @if $size{
            $gap-targets: map-merge($gap-targets, ($name: $size));
          }
        }
        @include makeGapOnBreakpoint($class, $gap-targets, $vertical);
      }
    }
  } @else {
    @each $class in $screens {
      @include makeGapOnBreakpoint($class, $gap-sizes, $vertical);
    }
  }
}

@mixin initTemplate($templates: oo('template')) {
  @if oo('areas', $templates) {
    [#{ooPrefix()}-template] {
      display: grid;
    }
  
    @if isList(oo('areas', $templates)) {
      [#{ooPrefix()}-template] {
        @include makeGrid(oo('areas', $templates));
      }
    } @else if isMap(oo('areas', $templates)) {
      @if areKeysBreakpoints(oo('areas', $templates)) {
        [#{ooPrefix()}-template] {
          @include makeGridOnBreakpoints(oo('areas', $templates));
        }
      } @else {
        @each $area-name, $template in oo('areas', $templates) {
          [#{ooPrefix()}-template~="#{$area-name}"] {
            @if isMap($template) {
              @include makeGridOnBreakpoints($template);
            } @else if isList($template) {
              @include makeGrid($template);
            }
          }
        }
      }
    }
  }

  $screens: oo('gap.screens', $templates);
  $vscreens: oo('gap.vscreens', $templates);
  $gap-sizes: oo('gap.sizes', $templates);
  $gap-vsizes: oo('gap.sizes', $templates);

  @if $gap-sizes {
    @each $gap-name, $gap-size in $gap-sizes {
      [#{ooPrefix()}-template~="gap-#{$gap-name}"] { grid-gap: $gap-size; }
    }
    @if $screens {
      @include makeGapOnScreens($screens, $gap-sizes);
    }
  }
  @if $gap-vsizes {
    @each $gap-name, $gap-size in $gap-vsizes {
      [#{ooPrefix()}-template~="vgap-#{$gap-name}"] { grid-row-gap: $gap-size; }
    }
    @if $vscreens {
      @include makeGapOnScreens($vscreens, $gap-vsizes, true);
    }
  }
}
