@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';
@use '../fn';

// Template Areas

@function getAreaNames($areas) {
  $list: ();
  @each $area in $areas {
    $areaNames: fn.splitDeep(' ', $area);
    @each $areaName in $areaNames {
      $hasValueIndex: string.index($areaName, '|');
      $areaName: if($hasValueIndex, string.slice($areaName, 1, $hasValueIndex - 1), $areaName);
      @if fn.notInList($areaName, $list) {
        $list: list.join($list, $areaName);
      }
    }
  }
  @return $list;
}
@function getAreaColumnNumber($areas) {
  @if fn.isEmpty($areas) {
    @return 0;
  }
  @each $area in $areas {
    $areaNames: fn.splitDeep(' ', $area);
    @return list.length($areaNames);
  }
}

@mixin makeGridTemplate($grid-template-areas) {
  @if string.index(meta.inspect($grid-template-areas), '|') {
    $template-areas: ();
    $columnsMap: ();

    @each $row in $grid-template-areas {
      $columnItems: fn.splitDeep(' ', $row);
      $areaNames: null;
      @for $i from 1 through list.length($columnItems) {
        $columnName: list.nth($columnItems, $i);
        $hasValueIndex: string.index($columnName, '|');

        $areaName: if($hasValueIndex, string.slice($columnName, 1, $hasValueIndex - 1), $columnName);
        $areaNames: if(null == $areaNames, $areaName, $areaNames + ' #{$areaName}');

        $currentColumnValue: fn.getMapValue($columnsMap, $i);

        @if $hasValueIndex {
          $number: fn.toNumber(string.slice($columnName, $hasValueIndex + 1, string.length($columnName)));
          $columnsMap: fn.setMapValue($columnsMap, $i, $number);
        } @else if $currentColumnValue == null {
          $columnsMap: fn.setMapValue($columnsMap, $i, auto);
        }
      }
      $template-areas: list.join($template-areas, "#{$areaNames}");
    }

    $template-columns: null;
    @each $index, $value in $columnsMap {
      $template-columns: if(fn.isEmpty($template-columns), $value, list.append($template-columns, $value, 'space'));
    }

    grid-template-areas: $template-areas;
    grid-template-columns: $template-columns;
  } @else {
    grid-template-areas: $grid-template-areas;
    grid-template-columns: repeat(getAreaColumnNumber($grid-template-areas), 1fr);
  }
}
@mixin makeGridArea($areaNames) {
  @each $area in $areaNames {
    @if $area != '.' {
      [#{ooPrefix()}-area~="#{$area}"] {
        grid-area: #{$area};
      }
    }
  }
}
@mixin makeGrid($grid-template-areas) {
  @include makeGridTemplate($grid-template-areas);
  @include makeGridArea(getAreaNames($grid-template-areas));
}
@mixin makeGridOnBreakpoints($grid-template-areas) {
  $area-names-list: ();
  @each $breakpoint, $areas in $grid-template-areas {
    $area-names-list: getAreaNames(list.join($area-names-list, getAreaNames($areas)));
    @include breakpoint($breakpoint) {
      @include makeGridTemplate($areas);
    }
  }
  @include makeGridArea($area-names-list);
}

@mixin makeGapOnBreakpoint($breakpoint, $gap-sizes, $vertical: false) {
  @include breakpoint($breakpoint) {
    @each $gap-name, $gap-size in $gap-sizes {
      @if $vertical {
        [#{ooPrefix()}-template~="vgap-#{$gap-name}\@#{$breakpoint}"] { grid-row-gap: $gap-size; }
      } @else {
        [#{ooPrefix()}-template~="gap-#{$gap-name}\@#{$breakpoint}"] { grid-gap: $gap-size; }
      }
    }
  }
}
@mixin makeGapOnScreens($screens, $gap-sizes, $vertical: false) {
  @if fn.isMap($screens) {
    @each $class, $gap-names in $screens {
      @if fn.isEmpty($gap-names) {
        @include makeGapOnBreakpoint($class, $gap-sizes, $vertical);
      } @else {
        $gap-names: fn.toList($gap-names);
        $gap-targets: ();
        @each $name in $gap-names {
          $size: oo(#{$name}, $gap-sizes);
          @if $size{
            $gap-targets: map.merge($gap-targets, ($name: $size));
          }
        }
        @include makeGapOnBreakpoint($class, $gap-targets, $vertical);
      }
    }
  } @else {
    @if fn.isString($screens) {
      $screens: fn.toList($screens);
    }
    @each $class in $screens {
      @include makeGapOnBreakpoint($class, $gap-sizes, $vertical);
    }
  }
}

@mixin makeTemplate($template) {
  @if fn.isList($template) {
    [#{ooPrefix()}-template] {
      @include makeGrid($template);
    }
  } @else if fn.isMap($template) {
    @if areKeysBreakpoints($template) {
      [#{ooPrefix()}-template] {
        @include makeGridOnBreakpoints($template);
      }
    } @else {
      @each $area-name, $grid in $template {
        [#{ooPrefix()}-template~="#{$area-name}"] {
          @if fn.isMap($grid) {
            @include makeGridOnBreakpoints($grid);
          } @else if fn.isList($grid) {
            @include makeGrid($grid);
          }
        }
      }
    }
  }
}

@mixin Template($param: null) {
  @include initElement('template', $param);

  @if fn.isNotEmpty(oo('template.areas')) {
    [#{ooPrefix()}-template] {
      display: grid;
    }
    @include makeTemplate(oo('template.areas'));
  }

  @if fn.isString(oo('template.gap')) or fn.isNumber(oo('template.gap')) {
    [#{ooPrefix()}-template] {
      grid-gap: oo('template.gap');
    }
  } @else if fn.isMap(oo('template.gap')) and areKeysBreakpoints(oo('template.gap')) {
    [#{ooPrefix()}-template] {
      @include generatePropertyBreakpoints('grid-gap', oo('template.gap'));
    }
  }

  $gap-sizes: oo('template.gap.sizes');
  @if $gap-sizes {
    $gap-sizes: if(fn.isString($gap-sizes), (default: $gap-sizes), $gap-sizes);
    @if areKeysBreakpoints($gap-sizes) {
      [#{ooPrefix()}-template] {
        @include generatePropertyBreakpoints('grid-gap', $gap-sizes);
      }
    } @else {
      $non-responsise-gap-sizes: ();
      @each $gap-name, $gap-size in $gap-sizes {
        $selector: if(fn.isEmpty($gap-name) or $gap-name == 'default', 'template', 'template~="gap-#{$gap-name}"');
        [#{ooPrefix()}-#{$selector}] {
          @if (fn.isMap($gap-size)) {
            @include generatePropertyBreakpoints('grid-gap', $gap-size);
          } @else {
            grid-gap: $gap-size;
            $non-responsise-gap-sizes: map.merge(($gap-name: $gap-size), $non-responsise-gap-sizes)
          }
        }
      }
      $screens: oo('template.gap.screens');
      @if $screens {
        @include makeGapOnScreens($screens, $non-responsise-gap-sizes);
      }
    }
  }

  $vgap-sizes: oo('template.gap.vsizes');
  @if $vgap-sizes {
    $vgap-sizes: if(fn.isString($vgap-sizes), (default: $vgap-sizes), $vgap-sizes);
    @if areKeysBreakpoints($vgap-sizes) {
      [#{ooPrefix()}-template] {
        @include generatePropertyBreakpoints('grid-row-gap', $vgap-sizes);
      }
    } @else {
      $non-responsise-vgap-sizes: ();
      @each $gap-name, $gap-size in $vgap-sizes {
        $selector: if(fn.isEmpty($gap-name) or $gap-name == 'default', 'template', 'template~="vgap-#{$gap-name}"');
        [#{ooPrefix()}-#{$selector}] {
          @if (fn.isMap($gap-size)) {
            @include generatePropertyBreakpoints('grid-row-gap', $gap-size);
          } @else {
            grid-row-gap: $gap-size;
            $non-responsise-vgap-sizes: map.merge(($gap-name: $gap-size), $non-responsise-vgap-sizes)
          }
        }
      }
      $vscreens: oo('template.gap.vscreens');
      @if $vscreens {
        @include makeGapOnScreens($vscreens, $non-responsise-vgap-sizes, true);
      }
    }
  }
}
