/**
 * Base
 */

 $font-family-base: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
 $font-size-base:   1.6rem !default; // == 16px ( relative to 62.5% font-size )
 $font-weight-base: 400 !default;
 $line-height-base: 1.5 !default;
 $color-base:       #333333 !default;
 $bgcolor-base:     #ffffff !default;
 $font-smoothing:   true !default;

// The width is not affected by padding or border
*,
*:after,
*:before {
	box-sizing: border-box;
}

// Font size based on 62.5% to have a convenient way to set sizes
html {
    font-size: 62.5%;
    @if $font-smoothing == true {
        @include fontSmoothing($font-smoothing);
    }
}

// Default body styles
body {
	color: $color-base;
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
    background-color: $bgcolor-base;
}
