@use '../variables' as v;
@use '../mixins/font-smoothing' as fs;
/**
 * Base
 */

// The width is not affected by padding or border
*,
*::after,
*::before {
  box-sizing: border-box;
}

// Font size based on 62.5% to have a convenient way to set sizes
html {
  font-size: v.$font-size-root;
  @if v.$font-smoothing == true {
    @include fs.fontSmoothing(v.$font-smoothing);
  }
}

// Default body styles
body {
  color: v.$color-base;
  font-family: v.$font-family-base;
  font-size: v.$font-size-base;
  font-weight: v.$font-weight-base;
  line-height: v.$line-height-base;
  background-color: v.$bgcolor-base;
}
