/**
 * Typography
 */

$heading-color:           $color-base !default;
$heading-font-family:     $font-base !default;
$heading-font-weight:     700 !default;
$heading-line-height:     1.2 !default;
$heading-margin-top:      .2em !default;
$heading-margin-bottom:   .45em !default;

// Heading Font sizes
$h1-font-size: 4.6rem !default;
$h2-font-size: 3.6rem !default;
$h3-font-size: 2.8rem !default;
$h4-font-size: 2.2rem !default;
$h5-font-size: 1.8rem !default;
$h6-font-size: 1.6rem !default;

$heading-font-sizes: (
    'h1': $h1-font-size,
    'h2': $h2-font-size,
    'h3': $h3-font-size,
    'h4': $h4-font-size,
    'h5': $h5-font-size,
    'h6': $h6-font-size
);

// Heading allowing letter spacing
$heading-letter-spacing-list: (h1, h2, h3) !default;

// Text Font sizes
$text-font-sizes: (
    'large': 2rem,
    'small': 1.4rem,
    'tiny':  1.2rem,
) !default;

// Text Font Weight
$text-font-weights: (
    'thin':   100,
    'light':  300,
    // 'regular': 400,
    'strong': 700,
) !default;

// Paragraph
$paragraph-margin-bottom: 1.8rem !default;

// Anchor
$anchor-color:             $color-primary !default;
$anchor-color-hover:       $color-secondary !default;
$anchor-text-decoration:   none !default;

@each $heading, $font-size in $heading-font-sizes {
    #{$heading},
    .#{$heading} {
        margin-top: $heading-margin-top;
        margin-bottom: $heading-margin-bottom;
        font-size: $font-size;
        font-weight: $heading-font-weight;
        line-height: $heading-line-height;

        // add letter spacing for specific, if the font-weight is bold enough
        @if inArray($heading, $heading-letter-spacing-list)
            and inArray($heading-font-weight, (700, 800, 900, bold, bolder)) {
                letter-spacing: -.1rem;
        }

        //add font family rules if different
        @if $heading-font-family != $font-base {
            font-family: $heading-font-family;
        }

        //add color rules if different
        @if $heading-color != $color-base {
            color: $heading-color;
        }
    }
}

p {
	margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;
}

a {
	color: $anchor-color;
	text-decoration: none;

	&:focus,
	&:hover {
		color: $anchor-color-hover;
        text-decoration: $anchor-text-decoration;
    }
}

ul,
ol {
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;
    padding-left: 20px;
    list-style-type: disc;

    li { margin-bottom: .2em;}

    > ul, ol {
        margin-top: .3em;
        margin-bottom: .5em
    }
}

mark {
    $highlight: lighten($color-primary, 55%);
    @if lightness($highlight) > percentage(9.5/10) {
        $highlight: lighten(yellow, 40%);
    }
    color: inherit;
    background-color: $highlight;
}

// Font sizes
$text-font-sizes-addon: () !default;
@include loop($text-font-sizes, 'text', 'font-size', $text-font-sizes-addon);

// Font weights
$text-font-weights-addon: () !default;
@include loop($text-font-weights, 'text', 'font-weight', $text-font-weights-addon);
