/**
 * Global Variables
 */

$color-primary: #81af00 !default;
$color-secondary: #d85b43 !default;

$font-base:        'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-size-base:   1.6em !default; // == 16px ( relative to 62.5% font-size )
$font-weight-base: 400 !default;
$line-height-base: 1.5 !default;
$color-base:       #333333 !default;
$bgcolor-base:     #ffffff !default;
$enable-font-smoothing: true !default;


$font-secondary:   'Georgia', times, serif !default;
