/**
 * Global Variables
 */

$color-primary: #81CFE0 !default;
$color-secondary: #606c76 !default;

$font-base:        'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-size-base:   1.6em !default; // == 16px ( relative to 62.5% font-size )
$font-weight-base: 400 !default;
$line-height-base: 1.5 !default;
$color-base:       #222222 !default;


$font-secondary:   'Georgia', times, serif !default;
