/**
 * Input
 */

$input-color:            #4d4d4d !default;
$input-bgcolor:          #fff !default;
$input-font-family:      $font-family-base !default;
$input-font-size:        $font-size-base !default;
$input-font-style:       normal !default;
$input-line-height:      1.15 !default;

$input-padding:          .5em .625em !default; // relative to the size of the input
$input-padding-sizes:    () !default;

$input-border-color:     #d6d6d6 !default;
$input-border:           1px solid $input-border-color !default;
$input-border-radius:    .2em !default; // relative to the size of the input
$input-box-shadow:       1px 1px 1px 0 rgba(#aaa, .50) !default;
$input-focus-box-shadow: 1px 1px 2px 0px rgba(#aaa, .85) !default;

$label-font-weight:      500 !default;
$label-margin:           .3rem !default;

%inputFocus {
    @if $input-box-shadow == none and $input-focus-box-shadow != none {
        box-shadow: $input-focus-box-shadow;
    } @elseif $input-focus-box-shadow != none {
        box-shadow: $input-box-shadow, $input-focus-box-shadow;
    }
}

%input,
[#{$loop-component-prefix}-form~="input"] {
    padding: $input-padding;

    display: block;
    width: 100%;

    color: $input-color;
    font-family: $input-font-family;
    font-size: $input-font-size;
    font-style: $input-font-style;
    line-height: $input-line-height;

    border: $input-border;
    border-radius: $input-border-radius;
    background-color: $input-bgcolor;

    @if $input-box-shadow != none {
        box-shadow: $input-box-shadow;
    }

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
        outline:none;
        &:not(.disabled) {
            @extend %inputFocus;
        }
    }
}

label {
    font-weight: $label-font-weight;
    + [#{$loop-component-prefix}-form~="input"],
    + [#{$loop-component-prefix}-form~="select"] {
        margin-top: $label-margin;
    }
}

@if isNotEmpty($input-padding-sizes) {
    @each $name, $padding in $input-padding-sizes {
        [#{$loop-component-prefix}-form~="input"][#{$loop-component-prefix}-form~="#{$name}"] {
            padding: #{$padding};
        }
    }
}

[#{$loop-component-prefix}-form~="group"] > [#{$loop-component-prefix}-column~="row"] {
    left: 0;
    margin-right: 0;

    > [#{$loop-component-prefix}-column*="col"] {
        padding-bottom: 0;
        padding-left: 0;

        &:not(:first-child) [#{$loop-component-prefix}-form~="input"] {
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:not(:last-child) [#{$loop-component-prefix}-form~="input"] {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
