@use 'sass:math';
@use '../../mixins/breakpoint';
@use '../../mixins/loop';
@use '../../variables' as v;
@use '../../functions' as fn;
@use 'mixin' as m;

/**
 * Radio
 */

@mixin radio-size($size) {
  & + label {
    &::after {
      margin-right: math.div($size, 3);
    }
    & + [#{v.$loop-component-prefix}-form~="radio"] + label { margin-top: math.div($size, 3); }
  }

  & + label::after,
  &:checked + label::before {
    min-width: $size;
    min-height: $size;
  }
}

[#{v.$loop-component-prefix}-form~="radio"] {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    line-height: 1.1;
    font-weight: v.$font-weight-base;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      border-radius: 50%;
      @if v.$use-radio-animation {
        transform: scale(1.5);
        transition: transform 300ms ease-in-out, background-color 300ms ease-in-out;
      }
    }
    &::after {
      display: flex;
      order:-1;
      content:'';
      border: 1px solid v.$radio-border-color;
      border-radius: 50%;
      background-color: v.$radio-bgcolor;
      box-shadow: v.$radio-box-shadow;
    }
  }

  &:checked + label {
    &::before {
      background-color: v.$radio-checked-color;
      transform: scale(0.5);
    }
    &::after {
      background-color: v.$radio-checked-bgcolor;
      border-color: v.$radio-checked-border-color;
    }
  }

  &:focus + label::after { @include m.inputFocus; }

  @include radio-size(v.$radio-size);

  @if fn.isMap(v.$radio-sizes) {
    @each $size_name, $size_value in v.$radio-sizes {
      &[#{v.$loop-component-prefix}-form~="#{$size_name}"] { @include radio-size($size_value) }
    }

    @if fn.isNotEmpty(v.$radio-breakpoints-classes) {
      @each $breakpoint in v.$radio-breakpoints-classes {
        @include breakpoint.from($breakpoint) {
          @each $size_name, $size_value in v.$radio-sizes {
            $suffix: \@#{$breakpoint};
            &[#{v.$loop-component-prefix}-form~="#{$size_name}#{$suffix}"] { @include radio-size($size_value) }
          }
        }
      }
    }
  }

  @include loop.loop(v.$border-colors, 'border-color', '&[class*="border', true, '"] + label::after');
  @include loop.loopMapKeys(v.$border-colors-classes, v.$colors, 'border-color', '&[class*="border', true, '"] + label::after');
}
