@use 'sass:map';
@use '../../variables' as v;
@use '../../functions' as fn;
@use 'mixin' as m;

/**
 * Select
 */

@mixin selectTheme($theme) {
  @if map.has-key($theme, 'size') {
    &::before { width: (map.get($theme, 'size') * 3); }
    &::after {
      right: map.get($theme, 'size');
      width: map.get($theme, 'size');
      height: map.get($theme, 'size');
    }
  }
  @if map.has-key($theme, 'weight') {
    &::after {
      border-bottom-width: map.get($theme, 'weight');
      border-right-width: map.get($theme, 'weight');
    }
  }
  @if map.has-key($theme, 'bgcolor') {
    &::before { background-color: map.get($theme, 'bgcolor'); }
  }
  @if map.has-key($theme, 'color') {
    &::after {
      border-bottom-color: map.get($theme, 'color');
      border-right-color: map.get($theme, 'color');
    }
  }
}

[#{v.$loop-component-prefix}-form~="select"] {
  position: relative;
  display: block;
  min-height: v.$input-height;
  font-size: v.$input-font-size;
  line-height: v.$input-line-height;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    content: '';

    border-top: v.$input-border;
    border-right: v.$input-border;
    border-bottom: v.$input-border;
    border-top-right-radius: v.$input-border-radius;
    border-bottom-right-radius: v.$input-border-radius;

    pointer-events: none;
  }

  &::after {
    position: absolute;
    top: 50%;

    content: '';

    border-bottom-style: solid;
    border-right-style: solid;

    pointer-events: none;
    transform: rotateZ(45deg) translate3d(-50%, -50%, 0);
  }

  @include selectTheme((
    'size' : v.$select-size,
    'color': v.$select-color,
    'bgcolor': v.$select-bgcolor,
    'weight': v.$select-weight,
  ));

  > select {
    @include m.input;
    margin: 0;
    height: 100%;
    font-size: inherit;
    appearance:none;

    /* hide the default arrow in ie10 and ie11 */
    &::-ms-expand {
      display: none;
    }
  }

  @if fn.isNotEmpty(v.$select-themes) and fn.isMap(v.$select-themes) {
    @each $theme-name, $theme in v.$select-themes {
      &[#{v.$loop-component-prefix}-form~="#{$theme-name}"] {
        @include selectTheme($theme);
      }
    }
  }

  &[class*="color-"] {
    > select { color: inherit !important; }
  }
  &[class*="bg-"] {
    > select { background-color: inherit !important; }
  }
  &[class*="border-"] {
    > select,
    &::before {
      border-color: inherit !important;
    }
  }
}

@if fn.isNotEmpty(v.$input-padding-sizes) {
  @each $name, $padding in v.$input-padding-sizes {
    [#{v.$loop-component-prefix}-form~="select"][#{v.$loop-component-prefix}-form~="#{$name}"] > select {
      padding: #{$padding};
      padding-right: 0;
    }
  }
}
