// Visibility Utilities

@mixin Visibility($param: null) {
  @include initElement('visibility', $param);

  .hidden { display: none !important; }
  
  .hidden\@print {
    @media print { display: none !important; }
  }
  .hidden\@screen {
    @media screen { display: none !important; }
  }
  
  @if isNotEmpty(oo('visibility.breakpoints')) {
    @each $screen in oo('visibility.breakpoints') {
        @include breakpoint($screen) {
            .hidden\@#{$screen} { display: none !important; }
        }
    }
  }
  @if isNotEmpty(oo('visibility.pointbreaks')) {
    @each $screen in oo('visibility.pointbreaks') {
      @include pointbreak($screen) {
        .hidden\!\@#{$screen} { display: none !important; }
      }
    }
  }
}
